*.pyc
.idea/
/jet_leg.egg-info/PKG-INFO
/jet_leg.egg-info/SOURCES.txt
/jet_leg.egg-info/dependency_links.txt
/jet_leg.egg-info/requires.txt
/jet_leg.egg-info/top_level.txt
/jet_leg/maths/.iterative_projection_parameters.py.swo
/plotting_in_communication
/dist/jet_leg-0.0.0-py2.7.egg
/examples/ros/communication.py.orig
/build/lib/examples/__init__.py
/build/lib/examples/context.py
/build/lib/examples/iterative_projection/IP_test_three_contacts.py
/build/lib/examples/iterative_projection/__init__.py
/build/lib/examples/iterative_projection/bretl_projection.py
/build/lib/examples/iterative_projection/context.py
/build/lib/examples/iterative_projection/iterative_projection_statistics.py
/build/lib/examples/iterative_projection/nonlinear_bretl_example.py
/build/lib/examples/iterative_projection/one_contact.py
/build/lib/examples/iterative_projection/path_sequential_IP_example.py
/build/lib/examples/iterative_projection/pymanoid_common.py
/build/lib/examples/iterative_projection/pymanoid_double_support.py
/build/lib/examples/iterative_projection/pymanoid_ladder_climbing.py
/build/lib/examples/iterative_projection/sequentialIterativeProjection.py
/build/lib/examples/iterative_projection/sequential_iterative_projection.py
/build/lib/examples/iterative_projection/single_iterative_projection_6legs.py
/build/lib/examples/iterative_projection/single_iterative_projection_example.py
/build/lib/examples/kinematics/__init__.py
/build/lib/examples/kinematics/anymal_ik_example.py
/build/lib/examples/kinematics/feasible_workspace_example.py
/build/lib/examples/kinematics/ikpy_example.py
/build/lib/examples/kinematics/ikpy_hyqreal_example.py
/build/lib/examples/reachability_planning/__init__.py
/build/lib/examples/reachability_planning/modFrontier_interface.py
/build/lib/examples/reachability_planning/orientation_planning_example.py
/build/lib/examples/reachability_planning/orientation_planning_example_slope.py
/build/lib/examples/reachability_planning/orientation_planning_example_uneven.py
/build/lib/examples/reachability_planning/orientation_planning_test.py
/build/lib/examples/ros/__init__.py
/build/lib/examples/ros/communication.py
/build/lib/examples/ros/communication_tcrawl.py
/build/lib/examples/ros/current_state.py
/build/lib/examples/ros/rospy_communication_statistics.py
/build/lib/examples/ros/rospy_roscpp_communication_statics.py
/build/lib/examples/ros/rospy_roscpp_statistics_random_values.py
/build/lib/examples/ros/talker.py
/build/lib/examples/ros/whole_body_state_publisher.py
/build/lib/examples/unit_tests.py
/build/lib/jet_leg/__init__.py
/build/lib/jet_leg/computational_geometry/__init__.py
/build/lib/jet_leg/computational_geometry/computational_geometry.py
/build/lib/jet_leg/computational_geometry/geometry.py
/build/lib/jet_leg/computational_geometry/iterative_projection.py
/build/lib/jet_leg/computational_geometry/iterative_projection_parameters.py
/build/lib/jet_leg/computational_geometry/leg_force_polytopes.py
/build/lib/jet_leg/computational_geometry/math_tools.py
/build/lib/jet_leg/computational_geometry/polytopes.py
/build/lib/jet_leg/constraints/__init__.py
/build/lib/jet_leg/constraints/constraints.py
/build/lib/jet_leg/constraints/force_polytope_constraint.py
/build/lib/jet_leg/constraints/friction_cone_constraint.py
/build/lib/jet_leg/constraints/polytopes_linear_interpolation.py
/build/lib/jet_leg/dynamics/__init__.py
/build/lib/jet_leg/dynamics/computational_dynamics.py
/build/lib/jet_leg/dynamics/feasible_wrench_polytope.py
/build/lib/jet_leg/dynamics/rigid_body_dynamics.py
/build/lib/jet_leg/dynamics/vertex_based_projection.py
/build/lib/jet_leg/kinematics/__init__.py
/build/lib/jet_leg/kinematics/full_feasible_workspace.py
/build/lib/jet_leg/kinematics/kinematics_interface.py
/build/lib/jet_leg/kinematics/kinematics_pinocchio.py
/build/lib/jet_leg/map/__init__.py
/build/lib/jet_leg/map/gridMapInterface.py
/build/lib/jet_leg/map/grid_map_converter.py
/build/lib/jet_leg/map/height_map.py
/build/lib/jet_leg/optimization/__init__.py
/build/lib/jet_leg/optimization/bilinear_constraints.py
/build/lib/jet_leg/optimization/directed_optimization.py
/build/lib/jet_leg/optimization/foothold_planning.py
/build/lib/jet_leg/optimization/foothold_planning_interface.py
/build/lib/jet_leg/optimization/joint_limits_and_FR_example.py
/build/lib/jet_leg/optimization/lp_vertex_redundancy.py
/build/lib/jet_leg/optimization/nonlinear_projection.py
/build/lib/jet_leg/optimization/orientation_planning.py
/build/lib/jet_leg/optimization/orientation_planning_interface.py
/build/lib/jet_leg/optimization/orientation_planning_multiprocess.py
/build/lib/jet_leg/optimization/path_sequential_iterative_projection.py
/build/lib/jet_leg/optimization/simple_foothold_planning_interface.py
/build/lib/jet_leg/optimization/tcrawl_foothold_planning.py
/build/lib/jet_leg/optimization/tcrawl_foothold_planning_interface.py
/build/lib/jet_leg/plotting/__init__.py
/build/lib/jet_leg/plotting/arrow3D.py
/build/lib/jet_leg/plotting/plotting_tools.py
/build/lib/jet_leg/robots/__init__.py
/build/lib/jet_leg/robots/aliengo/__init__.py
/build/lib/jet_leg/robots/aliengo/aliengo_model.py
/build/lib/jet_leg/robots/anymal/__init__.py
/build/lib/jet_leg/robots/anymal/anymal_kinematics.py
/build/lib/jet_leg/robots/anymal/anymal_model.py
/build/lib/jet_leg/robots/crex/__init__.py
/build/lib/jet_leg/robots/crex/crex_model.py
/build/lib/jet_leg/robots/dog_interface.py
/build/lib/jet_leg/robots/go1/__init__.py
/build/lib/jet_leg/robots/go1/go1_model.py
/build/lib/jet_leg/robots/hyq/__init__.py
/build/lib/jet_leg/robots/hyq/hyq_kinematics.py
/build/lib/jet_leg/robots/hyq/hyq_model.py
/build/lib/jet_leg/robots/hyq/old_kinematics.py
/build/lib/jet_leg/robots/hyqreal/__init__.py
/build/lib/jet_leg/robots/hyqreal/hyqreal_kinematics.py
/build/lib/jet_leg/robots/hyqreal/hyqreal_model.py
/build/lib/jet_leg/robots/robot_model_interface.py
/build/lib/pypoman/__init__.py
/build/lib/pypoman/pypoman/__init__.py
/build/lib/pypoman/pypoman/bretl.py
/build/lib/pypoman/pypoman/duality.py
/build/lib/pypoman/pypoman/intersection.py
/build/lib/pypoman/pypoman/lp.py
/build/lib/pypoman/pypoman/misc.py
/build/lib/pypoman/pypoman/polygon.py
/build/lib/pypoman/pypoman/polyhedron.py
/build/lib/pypoman/pypoman/projection.py
/build/lib/pypoman/setup.py
/build/lib/resources/__init__.py
/build/lib/resources/urdfs/__init__.py
/build/lib/resources/urdfs/aliengo/__init__.py
/build/lib/resources/urdfs/aliengo/robot_data.yaml
/build/lib/resources/urdfs/aliengo/urdf/__init__.py
/build/lib/resources/urdfs/aliengo/urdf/aliengo.urdf
/build/lib/resources/urdfs/anymal/__init__.py
/build/lib/resources/urdfs/anymal/robot_data.yaml
/build/lib/resources/urdfs/anymal/urdf/__init__.py
/build/lib/resources/urdfs/anymal/urdf/anymal.urdf
/build/lib/resources/urdfs/crex/__init__.py
/build/lib/resources/urdfs/crex/robot_data.yaml
/build/lib/resources/urdfs/crex/urdf/__init__.py
/build/lib/resources/urdfs/crex/urdf/crex.urdf
/build/lib/resources/urdfs/go1/__init__.py
/build/lib/resources/urdfs/go1/go1.urdf
/build/lib/resources/urdfs/go1/robot_data.yaml
/build/lib/resources/urdfs/go1/urdf/__init__.py
/build/lib/resources/urdfs/go1/urdf/anymal.urdf
/build/lib/resources/urdfs/go1/urdf/go1.urdf
/build/lib/resources/urdfs/hyq/__init__.py
/build/lib/resources/urdfs/hyq/robot_data.yaml
/build/lib/resources/urdfs/hyq/urdf/__init__.py
/build/lib/resources/urdfs/hyq/urdf/hyq.urdf
/build/lib/resources/urdfs/hyq/urdf/leg/__init__.py
/build/lib/resources/urdfs/hyq/urdf/leg/hyq_leg_LF.urdf
/build/lib/resources/urdfs/hyq/urdf/leg/hyq_leg_LH.urdf
/build/lib/resources/urdfs/hyq/urdf/leg/hyq_leg_RF.urdf
/build/lib/resources/urdfs/hyq/urdf/leg/hyq_leg_RH.urdf
/build/lib/resources/urdfs/hyqreal/__init__.py
/build/lib/resources/urdfs/hyqreal/robot_data.yaml
/build/lib/resources/urdfs/hyqreal/urdf/__init__.py
/build/lib/resources/urdfs/hyqreal/urdf/hyqreal.urdf
/dist/jet_leg-0.0.0-py3.8.egg
